.segmented-controls {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  background: #e2e2e9;
  height: 2.5rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 120px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  .segmented-controls {
    width: 90%;
  }
}
.segmented-option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.segmented-option:first-child {
  background-color: #ffa629;
  color: rgb(0, 0, 0);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.segmented-option:nth-child(2) {
  background-color: #c8e1e8;
  color: rgb(0, 0, 0);
}

.segmented-option:last-child {
  background-color: #4eeb75;
  color: rgb(0, 0, 0);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.segmented-option.active {
  color: rgb(255, 255, 255);
  transform: scale(1.15);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border: black;
}

.segmented-option:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}