
.custom-card-image {
    width: auto;
    height: 200px;
    border-radius: 30px;
    border: black;
    border-width: 10px;
}
.custom-card{
    border-radius: 30px;
}
.custom-card-title{
    background-color: #dedbdb;
    padding: 5px;
    border-radius: 30px;
}
.card-body{
    padding: unset;
    padding: 5px;
}
.custom-card:hover {
    background-color: #d7d385; 
    box-shadow: 2px 12px 15px #999;
    transition: all 0.4s ease-in-out 0s;
    
}


.pdf-page-container {
    margin-top: 20px;
}
.pdfButtons{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.custom-card-row {
    margin: 110px 0px;
}

.custom-card-col {
    padding: 25px;
}
.expand-link {
    cursor: pointer;
    color: blue; 
    text-decoration: underline;
}

.iframe_pdf {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
  
.iframe_pdf iframe {
    width: 100%;
    height: 100%;
    border: none;
}